@model QLNS_LTW.Models.GetMaNVResult

@{
    ViewBag.Title = "Details";
}

<center><h2>Chi tiết nhân viên</h2></center>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("MÃ NHÂN VIÊN")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt>
            @Html.DisplayName("HỌ TÊN NHÂN VIÊN")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dt>
            @Html.DisplayName("NƠI SINH")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noisinh)
        </dd>

        <dt>
            @Html.DisplayName("NGÀY SINH")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            @Html.DisplayName("GIỚI TÍNH")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            @Html.DisplayName("ĐỊA CHỈ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
