@model IEnumerable<QLNS_LTW.Models.ToanBoDanhSachNhanVienResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_nhanvien.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("HỌ TÊN NHÂN VIÊN")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>

        <th>
            @Html.DisplayName("GIỚI TÍNH")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
            </td>
        </tr>
    }

</table>
