@model IEnumerable<QLNS_LTW.Models.ToanBoDanhSachTaiKhoanResult>

@{
    ViewBag.Title = "ExportData";
}



@using (Html.BeginForm("ExportData", "ExportData", FormMethod.Post))
{
    <p style="background-color: red; color: white; font-size: 20pt; font-weight: bold; padding: 10px; text-align: center;">
        Export DataTable
    </p>

    <table style="background-color: white; width: 100%;">
        <tr>
            <th style="border: 2px solid black; text-align: left; width: 20%; padding-left: 20px;">
                @Html.DisplayName("MÃ NHÂN VIÊN")
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                @Html.DisplayName("TÀI KHOẢN")
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                @Html.DisplayName("MẬT KHẨU")
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                @Html.DisplayName("QUYỀN")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td style="padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td style="padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.TaiKhoan)
                </td>
                <td style="padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td style="padding-left: 50px;">
                    @Html.DisplayFor(modelItem => item.LaQuanTri)
                </td>
            </tr>

        }

        <tr>
            <td></td>
            <td></td>
            <td>
                <input type="submit" name="btnExportLicensing" style="width: 140px;"
                       value="Export" id="exportLicensing" class="button" />
            </td>
        </tr>
    </table>
    <div>
        @Html.ActionLink("Back to List", "Index", "Proc_TaiKhoan")
    </div>
}

