@model QLNS_LTW.Models.ToanBoDanhSachQTCVResult

@{
    ViewBag.Title = "Create";
}

<center><h2>Thêm quá trình chức vụ</h2></center>

@using QLNS_LTW.Models;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaCV, htmlAttributes: new { @class = "control-label col-md-2" })
            <select name="MaCV" style="outline: none">
                @foreach (var item in TempData["AllMaCV"] as List<ToanBoDanhSachChucVuResult>)
                {
                    <option value="@item.MaCV">
                        @item.MaCV
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNV, htmlAttributes: new { @class = "control-label col-md-2" })
            <select name="MaNV" style="outline: none">
                @foreach (var item in TempData["AllMaNV"] as List<ToanBoDanhSachNhanVienResult>)
                {
                    <option value="@item.MaNV">
                        @item.MaNV
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TGBD, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="date" name="TGBD" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TGKT, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="date" name="TGKT" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="alert('Thêm thành công');"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
